/* ============================================================
   contact.css — Contact Page Styles
   ============================================================ */

   /* ---------- Google Fonts Import ---------- */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&family=Lato:wght@300;400;700&family=Open+Sans:wght@400;600&display=swap');

/* ---------- Hero Section---------- */

.Hero{
    width: 100%;
    min-height: 70vh;
    background-image: url(../images/hero5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 2rem;
    font-weight: 900;
}


.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
    to bottom,
    rgba(26, 10, 14, 0.55) 0%,
    rgba(26, 10, 14, 0.75) 100%);
}

/* ---------- Contact Section ---------- */

.adress{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;

}

.container{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows:repeat(2, auto);
    gap: 50px;
}


.days,
.time{
display: flex;
flex-direction: column;
gap: 2rem;
justify-content: flex-start;
align-items: flex-start;
}


.contact-form form{
    display: flex;
    flex-direction: column;
    gap:1rem;
    width: 90%;
    max-width: 45rem;
    padding: 1rem 1rem;   
}

.contact-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: auto;
    gap: 1rem;
}


.contact-form label{
    font-size: 0.9rem;
    font-weight: 900;
}


.contact-info input{
    outline: 0;
    height: 2.5rem;
    border-radius: 5px;
    padding: 0 0.5rem;
    border: 1px solid black;
}

.request textarea{
    min-height: 7rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.map-container {
  height: 50px;
  width: 100%;
  filter: invert(90%) hue-rotate(180deg);
}



/*---------MEDIA QUERY-------------*/

/* Styles for screens 768px and wider (tablets and small desktops) */

 @media(min-width:768px)
    {
    .container{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:auto;
    }    
}